/* CUSTOM COLORS */
:root {
    --cs-dark-blue: #2c3e50;
    --cs-blue: #3a546d;
    --cs-green: #1abc9c;
}
.bg-dark-blue {
    background-color: var(--cs-dark-blue);
}
.bg-blue {
    background-color: var(--cs-blue);
}
.bg-green {
    background-color:var(--cs-green)
}
.bg-orange {
    background-color: orange;
}
.bg-pink {
    background-color: pink;
}
.bg-white {
    background-color: white;
}

/* UTILITIES */
.star-line {
    width: 15%;
    height: 5px;
}
.brd {
    border: 2px dashed rgb(57, 57, 57);
}


/* STYLE */
.wrap {
    max-width: 85%;
}
.height-100 {
    min-height: 100px;
}
.height-500 {
    min-height: 500px;
}
.height-800 {
    min-height: 800px;
}

/* JUMBOTRON */
#jumbotron {
    color: white;
}

/* * MEDIA QUERY */
/* MD BREAKPOINT */ 
 @media screen and (min-width: 768px) {
    #jumbotron h1 {
        font-size: 50px;
    }
} 