/*! COLORS */
/* custom property */
:root {
    --cs-dark-blue: #2c3e50;
    --cs-blue: #3a546d;
    --cs-green: #1abc9c;
    --cs-daker-green: #159d82;
}
.bg-dark-blue {
    background-color: var(--cs-dark-blue);
}
.bg-blue {
    background-color: var(--cs-blue);
}
.bg-green {
    background-color:var(--cs-green)
}
.bg-white {
    background-color: white;
}
.cs-color-blue {
    color: var(--cs-blue);
}
.cs-color-dark-blue {
    color: var(--cs-dark-blue);
}
.cs-color-green {
    color: var(--cs-green);
}

/** GENERICS */
#jumbotron, #about, footer {
    color: white;
}
a {
    cursor: pointer;
}
img {
    width: 100%;
}
a.cs-btn {
    color: white;
    text-decoration: none;
}

/** UTILITIES */
.star-line {
    width: 15%;
    height: 5px;
}
.cs-btn {
    border: 1px solid white;
    border-radius: 8px;
    padding: 8px 13px;
}

/** MAIN */
/* contact form */
#contact textarea {
    min-height: 150px;
}
#contact ::placeholder {
    color:black;
}
#contact button:hover {
    background-color: var(--cs-daker-green);
    border-color: var(--cs-green);
}

/** FOOTER */
footer a {
    display: inline-block;
    border: 1px solid white;
    border-radius: 50px;
    color:white;
    width: 50px;
    height: 50px;
    padding: 5px;
    text-align: center;
    line-height: 50px;
}
footer a.cs-color-green {
    display: inline;
    border: none;
    border-radius: 0;
    text-decoration: none;
    line-height: normal;
    padding: 0;
}
footer a:hover {
    color: darkgrey;
}

/** RESPONSIVE */
/* MD SCREEN */ 
 @media screen and (min-width: 768px) {
    #jumbotron h1 {
        font-size: 50px;
    }
} 